* {
	margin: 0px;
	padding: 0px;
}

#tableau_caisse, #tableau_boutons {
	width: 100%;
	border-collapse: collapse;
}

#tableau_caisse td, #tableau_caisse th {
	padding: 5px;
}

#tableau_caisse td:not(.colonne_suppr), #tableau_caisse th:not(.colonne_suppr) {
	border: 1px solid #808080;
}
#tableau_caisse td input {
	border: 0;
	-webkit-appearance: none;
	border-width: 0
}

#tableau_caisse td.selectionne {
	border: 2px solid #000000;
}

#tableau_caisse .colonne_suppr{
	width: 20px;
}

#tableau_caisse .supprimer_ligne{
	cursor: pointer;
}

#afficheur {
	text-align: right;
}

#total {
	font-size: 6em;
	color: #0A246A;
}

#tableau_boutons{
	border-spacing: 5px;
}

#tableau_boutons td:not(.cases){
	width: 90px;
}

#tableau_boutons button {
	width: 88px;
	height: 75px;
	background: url(icones/bouton-caisse.gif) -175px -150px;
	border: 1px solid #6A80EF;
	color: #0A246A;
	font-size: 1.4em;
}

#tableau_boutons button:hover {
	background: url(icones/bouton-caisse-hover.gif) -175px -150px;
}

#tableau_boutons button:disabled {
	background: url(icones/bouton-caisse-gris.gif) -175px -150px;
	border: 1px solid #777;
}

#tableau_boutons td.cases {
	font-size: 1.2em;
	text-align: right;
}

#tableau_boutons td.cases input {
	vertical-align: middle;
	margin-left: 5px;
}

.validpaiement {
	margin-bottom: 10px;
}
.validpaiement th {
	font-size: 1.6em;
}

.validpaiement td {
	font-size: 1.4em;
}
.validpaiement td input, .validpaiement td select {
	font-size: 1.2em;
}

.validation .valider {
	background: #A8E66D;
	border: 1px solid #22B14C;
	font-size: 1.4em;
	color: #000000;
	margin: 2px;
}
.validation .revenir {
	background: #FF9393;
	border: 1px solid #FF0000;
	font-size: 1.4em;
	color: #000000;
	margin: 2px;
}

.invisible{
	display: none;
}

input[type=text]:focus,
input[type=password]:focus,
input[type=number]:focus {
	outline: 0 none;
}

input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}
