html,
body {
    height: 100%;
    background-color: #edebcc;
/* The html and body elements cannot have any padding or margin. */
}

.input-invisible {
    border: 0px none !important;
    background-color: transparent !important;
    margin: 0 !important;
    padding: 0 !important;
}

#tableau_caisse .selectionne {
    border: 1px solid rgb(70, 70, 70) !important;
    background-color: #e0e9ec !important;
}

#tableau_caisse th {
    white-space: nowrap;
}

#modal-commandes .selectionne td {
    background-color: #49afcd !important;
    color: white;
}

.total-caisse {
    font-size: 80px;
    text-align: center;
    vertical-align: top;
    padding-top: 20px;
    padding-bottom: -20px;
}

.entete-caisse {
    height: 60px;
}

.entete-caisse .span5 {
    height: 100%;
}

.bouton-paiement {
    display:block;
    margin-bottom:10px;
}

.raccourcis:before {
    content: '(';
}

.raccourcis:after {
    content: ')';
}

.select-table tr:hover {
    cursor: pointer;
}

.polar-side-btn {
    display: block;
    margin-bottom: 10px;
}

.signature {
    color: rgb(100, 100, 100);
}

.container {
    background-color: white;
    padding-left: 10px;
    padding-right: 10px;
}

.navbar {
    margin-right: -10px;
    margin-left: -10px;
}

#logo {
    position: absolute;
    top: 0px;
    left: 5px;
}

#logo img {
    height: 40px;
}

.main-navbar {
    position: relative;
}

.main-navbar .navbar-inner {
    padding-left: 70px;
}

.invisible {
    display: none;
}

.supprimer_ligne {
    cursor: pointer;
}

.input-designation {
    width: 480px;
}

/* icones */
.table a i {
    color: black;
    cursor: pointer;
}

.table a i:hover {
    text-decoration: none;
}


.table a i:active {
    text-decoration: none;
}

#modal-commandes {
    width: 700px;
    margin-left: -350px;
}

#input-search-commande {
    width: 658px;
}

#modal-commandes .modal-body {
    overflow: hidden;
}

.navbar-secondaire {
    padding-left: 0px !important;
}

.pull-container {
    position: relative;
}

.pull-bottom {
    position:absolute; 
    bottom: 0;
    right: 0;
}

.float
{
    display: inline-block;
    vertical-align: middle;
    margin-right: 20px;
}