/* --------------------------------------------------------------------
#  Fichier crée le : 01/10/2007 à 22h01
#  Par : BkM[123] <bkm123m@hotmail.com>
#  Dernière modification le : 07/10/2007 à 19h28
   ------------------------------------------------------------------ */

body {
  margin:0px;
  padding:0px;
  color:#000000;
  background:url(textures/fond.png) repeat-y center;
  background-color:#000000;
  font-size:12px;
  font-family:Arial, sans-serif;
}

h1 {
  margin: 0px 0px 3px 0px;
  font-size:14px;
  border-bottom:1px dotted #000000;
}

h2 {
  margin:12px 0px 0px 0px;
  font-size:12px;
}

h3 {
  margin:6px 0px 0px 0px;
  font-size:1em;
  font-style: italic;
}

h6 {
  margin:9px 0px 0px 0px;
  padding:3px 0px 3px 4px;
  font-size:11px;
  background:#d6dde5;
  color:#111112;
}

a img {
  border:none;
}

p {
  margin:7px 0px 0px 0px;
}

#conteneur {
  background:url(textures/frise.png) repeat-x top;
  text-align:center;
}

#contenu {
  width:900px;
  margin:0px 0px 0px 1px;
  text-align:justify;
}

html>body #contenu {
  margin:0px auto 0px auto;
}

#header {
  padding:0px 11px 0px 11px;
  background:url(textures/fond_header.gif) no-repeat top;
}

#banniere {
  height:131px;
  margin:auto;
  background:url(textures/fond_banniere.png) repeat-x top;
}

#zone-centrale {
  padding:3px 11px 0px 11px;
  background:url(textures/fond.png) repeat-y center;
}

#menu {
  height:21px;
  background:#ceac8e;
  color:#312215;
}

#menu a {
  display:block;
  padding:3px 9px 0px 9px;
  height:21px;
  text-decoration:none;
  color:#312215;
}

html>body #menu a {
  height:18px;
}

#menu a:hover {
  border-top:2px solid #ceac8e;
  background:#ffffff;
}

#lien-actif {
  border-top:2px solid #ceac8e;
  background:#ffffff;
}

#liens-menu {
  float:right;
  border-collapse:collapse;
}

#liens-menu td {
  padding:0px;
  height:21px;
  font-size:11px;
  font-weight:bold;
}

#zone-gauche {
  float:left;
  margin-top:3px;
  width:150px;
  color:#272729;
}

#zone-gauche a {
  color:#253566;
  text-decoration:none;
}

#zone-gauche a:hover {
  font-weight:bold;
}

#clearer {
  clear:both;
}

#footer {
  margin:2px 0px 0px 0px;
  padding:3px 0px 0px 8px;
  height:20px;
  color:#312215;
  background:#ceac8e;
  font-size:10px;
  text-align:center;
}

html>body #footer {
  height:17px;
}

#footer a {
  color:#312215;
  font-style:italic;
  text-decoration:none;
}

#footer a:hover {
  text-decoration:underline;
}

.sous-section {
  font-size:12px;
  padding:3px 4px 3px 4px;
  background:#ececff;
}

.sous-section ul {
  margin-top:5px;
  margin-bottom:5px;
  margin-left:10px;
  padding-left:10px;
  list-style-type:square;
}

html>body .sous-section ul {
  margin:5px 0px 5px 0px;
  padding:0px 0px 0px 17px;
}

#connexion {
  margin:0px;
}

#connexion p {
  margin:5px 0px 0px 0px;
}

.in-texte {
  width:135px;
  margin:2px 0px 5px 0px;
  padding:2px;
  border:1px solid #abadb3;
  background:#ffffff;
}

.in-bouton {
  margin:5px 0px 5px 0px;
  width:139px;
  border:1px solid #abadb3;
  background:#f2f2f2;
  color:#272729;
}

#zone-droite {
  margin:0px 0px 10px 156px;
  padding:10px 3px 0px 0px;
  color:#252525;
}

#zone-droite a {
  color:#1d7cb3;
  font-style:italic;
  text-decoration:none;
}

#zone-droite a:hover {
  text-decoration:underline;
}

.separateur-titre {
  height:25px;
}

.sous-titre {
  margin-left:14px;
}

.signature {
  text-align:right;
  font-style:italic;
}

.mini-separateur-titre {
  height:5px;
}

#logo {
  margin-left:22px;
}

#formulaire-news {
  margin:5px 0px 0px 0px;
}

#formulaire-news textarea {
  width:310px;
  height:120px;
  font-size:12px;
  overflow:auto;
}

.erreur {
	color: #ff0000;
	font-style: italic;
	margin: 10px 0;
	padding-left: 20px;
	background: url(icones/exclamation.png) left no-repeat;
}

.icone {
  cursor:pointer;
  vertical-align:middle;
}

.classement-donnees {
  width:714px;
  margin-top:10px;
  border-collapse:collapse;
  font-size:12px;
}

.classement-donnees th {
  padding:2px;
  text-align:center;
  background:#c6efbe;
  text-align:center;
}

.classement-donnees td {
  padding:2px;
  background:#e9fce5;
  text-align:center;
}

#apercu {
  width:310px;
  height:120px;
  border:1px solid #abadb3;
  background:#f2f2f2;
  padding:0px 2px 0px 2px;
  overflow:auto;
  font-size:12px;
}

.gras {
  font-weight:bold;
}

.italique {
  font-style:italic;
}

.souligne {
  text-decoration:underline;
}

.barre {
  text-decoration:line-through;
}

.rouge {
    color:#ff0000;
}
