html, body {
	margin: 0;
	padding: 0;
	background: black;
	overflow: hidden;
	height: 100%;
}

div#slides {
	width: 100%;
	height: 100%;
	text-align: center;
}

div#slides img {
	height: 100%;
	display: none;
}

div#text {
	background: url(bar.png) bottom right;
	position: absolute;
	width: 100%;
	height: 90px;
	bottom: 0px;
	right: 0px;
	padding: 10px;
	color: white;
	font-family: sans-serif;
	font-size: 80px;
}

div#text span.uname {
	color: #0099B9;
}

div#text img {
	height: 85px;
	vertical-align: middle;
}
